In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from mlxtend.plotting import plot_decision_regions

In [20]:
salary_data = pd.read_csv('Salary_Data.csv')
salary_data.head(3)

    Age  Experience    Salary
0  32.0         5.0   90000.0
1  28.0         3.0   65000.0
2  45.0        15.0  150000.0

In [21]:
salary_data.isnull().sum()

Age           2
Experience    2
Salary        2
dtype: int64

In [22]:
for i in salary_data.columns:
    salary_data[i].fillna(salary_data[i].mode()[0], inplace=True)

C:\Users\Durjay\AppData\Local\Temp\ipykernel_1620\2892610038.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  salary_data[i].fillna(salary_data[i].mode()[0], inplace=True)

In [23]:
salary_data.isnull().sum()

Age           0
Experience    0
Salary        0
dtype: int64

In [24]:
x = salary_data.iloc[:,:-1]
y = salary_data['Salary']

In [25]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [26]:
from sklearn.neighbors import KNeighborsRegressor

In [27]:
knn = KNeighborsRegressor()
knn.fit(x_train, y_train)
knn.score(x_test, y_test)*100

88.03020224719101

In [28]:
knn.score(x_test, y_test)*100, knn.score(x_train, y_train) *100

(88.03020224719101, 89.77494004931773)

In [29]:
for i in range(1,20):
    knn = KNeighborsRegressor(n_neighbors=i)
    knn.fit(x_train, y_train)
    print(knn.score(x_test, y_test)*100, knn.score(x_train, y_train)*100, i)

80.54382022471911 88.2885134972983 1
85.79887640449438 91.019885373114 2
87.81573033707866 90.77850433987669 3
88.06994382022472 90.27867377475496 4
88.03020224719101 89.77494004931773 5
89.68089887640448 89.00773465973482 6
89.48369639990827 88.74753278870358 7
89.44859550561797 88.72181540615583 8
89.26308780690803 88.56196585018301 9
89.25231460674158 88.77558870500201 10
88.95964342093045 88.89650802915146 11
88.76001872659177 88.68324255740923 12
88.97681246193737 88.63465474078782 13
88.91568105021783 88.47456450763099 14
88.81614203445693 88.3938052291559 15
88.7967586130618 88.23826998211499 16
88.8489021702111 88.3433422783386 17
88.78462466084062 88.30699450171633 18
88.83856617759656 88.32525614965022 19

#### Here n_neighbour = 11 looks best

In [30]:
knn = KNeighborsRegressor(n_neighbors=11)
knn.fit(x_train, y_train)

knn.score(x_test, y_test)*100, knn.score(x_train, y_train) *100

(88.95964342093045, 88.89650802915146)